body {
  background-color: rgb(5, 3, 3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  scroll-behavior: smooth !important;
}
a {
  color: white;
  text-decoration: none;
}
#icon-grid {
  background-color: rgba(27, 27, 27, 0.8);
}
#black {
  background-color: black;
}
.em-construction {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
